.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #149df2 inset;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}

.bounding-box-concepts {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
}

.bounding-box__concept {
  background: #149df2;
  color: #fff;
  white-space: nowrap;
  font-size: 0.75rem;
  line-height: 1.0 rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: baseline;
  align-items: baseline;
  font-weight: 600;
  border-radius: 2px 2px 2px 0;
}

.bounding-box__concept .concept__name {
  color: #fff;
  font-size: 0.75rem;
}

.bounding-box__concept .concept__prediction-val {
  color: #fff;
  font-size: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.2rem;
}